# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
.build/
.vite/
build/

# Env / secrets
.env
.env.*.local
.env.local

# OS
.DS_Store
Thumbs.db

# IDEs / editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs / coverage
coverage/
*.log

# Lockfiles (keep one if needed)
# pnpm-lock.yaml
# yarn.lock

# Misc
*.tgz
.vscode-test/